header {
    
    color: white;
    
}

.rest-body {
 
    padding-top: 70px;
    
}

.modify-restaurant-wrapper {
    
    width: 450px;
    
}

a {
    
    text-decoration: none; !important
    
}

a:hover {
    
    text-decoration: none; !important
    
}

#cancel-modal, #confirm-delete-modal {
    
    color: white;
    
}