<html>
    
<head>

    <title>Edit Restaurant</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" href="static/images/onepiece.ico"/> 
    
</head>
    
<body>
    
    <header>
        
        <div class="navbar navbar-dark bg-dark box-shadow fixed-top">
            
            <div class="container">
            
            <h2>Restaurant Viewer</h2>
        
            </div>
            
        </div>

    </header>
    
    
    <div class="container rest-body">
    
        <div class="modify-restaurant-wrapper">

            <h3>Edit Restaurant</h3>
            
            <div id="restaurant-alert"></div>
            
            <form method="post" action="{{url_for('editRestaurant', restaurant_id=restaurant_id)}}" enctype="multipart/form-data" id="rst-form" data-modify="edit">

                <div class="form-group">

                    <label>Name:</label>
                    <input class="form-control" type="text" name="restaurant-name" id="name" value="{{restaurant_name}}"/>

                </div>

                <div class="form-group" id="description">

                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="4" id="desc">{{description}}</textarea>

                </div>

                <div>

                    <span class="btn btn-default btn-file form-group">

                        <input type=file name="image"/>

                    </span>

                </div>

               <div class="form-group">   

                    <button class="btn btn-primary" type="submit">Edit</button>


                    <a class="btn btn-secondary" href="{{url_for('showRestaurants')}}">Cancel</a>

                </div>

            </form>

        </div>
        
    </div>
    
</body>
    
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/rst_validation.js')}}"></script>

</html>