<html>
    
<head>

    <title>Edit Restaurant</title>
    
</head>
    
<body>

    <h1>Edit Menu Item</h1>
    <form method="post" action="{{url_for('editMenuItem',restaurant_id=restaurant_id, menu_id=menu_id)}}">
        
        <p>
            
            <label>Name:</label> <br />
            <input type="text" name="menu-name" value="{{menu_name}}"/>
            
        </p>
        
        <p>
            
            <label>Description:</label><br />
            <input type="text" name="description" value="{{description}}"/>
        
        </p> 
        
        <p>
            
            <label>Price:</label><br />
            <input type="text" name="price" value="{{price}}"/>
        
        </p>
        
        <div>
            
            <br /><label>Course:</label><br />
            <input type=radio name="course" value="appetizer" "{%if course=='appetizer'%}" checked "{% endif %}"/>Appetizer<br />
            <input type=radio name="course" value="entree" "{%if course=='entree'%}" checked "{% endif %}"/>Entree<br />
            <input type=radio name="course" value="dessert" "{%if course=='dessert'%}" checked "{% endif %}"/>Dessert<br />
            <input type=radio name="course" value="beverage" "{%if course=='beverage'%}" checked "{% endif %}"/>Beverage<br />
        
        </div>
        
        <button type="submit">Edit</button>
        <a href="{{url_for('showMenu', restaurant_id=restaurant_id)}}">Cancel</a>
        
    </form>
    
</body>

</html>