<html>
    
<head>

    <title>Edit Restaurant</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="icon" href="static/images/onepiece.ico"/> 
    
</head>
    
<body>

    
    <header>
        
        <div class="navbar navbar-dark bg-dark box-shadow fixed-top">
            
            <div class="container">
            
            <h2>Restaurant Viewer</h2>
        
            </div>
            
        </div>

    </header>
    
    <div class="container rest-body">
        
        <div class="modify-restaurant-wrapper">

            <span class="badge badge-pill badge-warning"><h3> Edit Menu Item </h3></span> <br /><br />
            
            <div id="menu-alert"></div>

            <form method="post" action="{{url_for('editMenuItem',restaurant_id=restaurant_id, menu_id=menu_id)}}" id="menu-form">

                <div class="form-group">

                    <label>Name:</label> <br />
                    <input class="form-control" type="text" name="menu-name" value="{{menu_name}}" id="name"/>

                </div>

                <div class="form-group">

                    <label>Description:</label><br />
                    <textarea class="form-control" name="description" rows="4" id="desc">{{description}}</textarea>

                </div> 

                <div class="form-group">

                    <label>Price:</label><br />
                    <input class="form-control" type="text" name="price" value="{{price}}" id="price"/>

                </div>
                
                <p>Course:</p>

                <div class="form-check">
                    
                    <input class="form-check-input" type=radio name="course" value="appetizer" "{%if course=='appetizer'%}" checked "{% endif %}"/> Appetizer
                
                </div>
                
                <div class="form-check">
                    
                    <input class="form-check-input" type=radio name="course" value="entree" "{%if course=='entree'%}" checked "{% endif %}"/> Entree<br />
                    
                </div>
                    
                <div class="form-check">
                    
                    <input class="form-check-input" type=radio name="course" value="dessert" "{%if course=='dessert'%}" checked "{% endif %}"/> Dessert<br />
                    
                </div>
                    
                <div class="form-check">
                    
                    <input class="form-check-input" type=radio name="course" value="beverage" "{%if course=='beverage'%}" checked "{% endif %}"/> Beverage<br />

                </div>

                <br /><button class="btn btn-primary" type="submit">Edit</button>
                <a href="{{url_for('showMenu', restaurant_id=restaurant_id)}}" class="btn btn-secondary">Cancel</a>

            </form>

        </div>
        
    </div>
    
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>    
    <script src="{{url_for('static',filename='js/rst_validation.js')}}"></script>
    
</body>

</html>